In [2]:
import pandas as pd
stocks = pd.read_excel('互联网公司股票.xlsx')
stocks.head()

           日期    公司      收盘      开盘       高       低    交易量   涨跌幅
0  2019-10-03  BIDU  104.32  102.35  104.73  101.15   2.24  0.02
1  2019-10-02  BIDU  102.62  100.85  103.24   99.50   2.69  0.01
2  2019-10-01  BIDU  102.00  102.80  103.26  101.00   1.78 -0.01
3  2019-10-03  BABA  169.48  166.65  170.18  165.00  10.39  0.02
4  2019-10-02  BABA  165.77  162.82  166.88  161.90  11.60  0.00

In [7]:
dict_company_names = {
    'bidu': '百度',
    'baba':'阿里巴巴',
    'iq':  '愛奇藝',
    'jd': '京東'
}

In [8]:
stocks['Chinese_company'] = stocks['公司'].str.lower().map(dict_company_names)

In [10]:
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,Chinese_company
0,2019-10-03,BIDU,104.32,102.35,104.73,101.15,2.24,0.02,百度
1,2019-10-02,BIDU,102.62,100.85,103.24,99.50,2.69,0.01,百度
2,2019-10-01,BIDU,102.00,102.80,103.26,101.00,1.78,-0.01,百度
3,2019-10-03,BABA,169.48,166.65,170.18,165.00,10.39,0.02,阿里巴巴
4,2019-10-02,BABA,165.77,162.82,166.88,161.90,11.60,0.00,阿里巴巴

In [12]:
stocks['CompanyChinese'] = stocks['公司'].map(lambda x: dict_company_names[x.lower()])
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,Chinese_company,CompanyChinese
0,2019-10-03,BIDU,104.32,102.35,104.73,101.15,2.24,0.02,百度,百度
1,2019-10-02,BIDU,102.62,100.85,103.24,99.50,2.69,0.01,百度,百度
2,2019-10-01,BIDU,102.00,102.80,103.26,101.00,1.78,-0.01,百度,百度
3,2019-10-03,BABA,169.48,166.65,170.18,165.00,10.39,0.02,阿里巴巴,阿里巴巴
4,2019-10-02,BABA,165.77,162.82,166.88,161.90,11.60,0.00,阿里巴巴,阿里巴巴

In [14]:
stocks['COmpnay_Chinese'] = stocks['公司'].apply(lambda x : dict_company_names[x.lower()])
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,Chinese_company,CompanyChinese,COmpnay_Chinese
0,2019-10-03,BIDU,104.32,102.35,104.73,101.15,2.24,0.02,百度,百度,百度
1,2019-10-02,BIDU,102.62,100.85,103.24,99.50,2.69,0.01,百度,百度,百度
2,2019-10-01,BIDU,102.00,102.80,103.26,101.00,1.78,-0.01,百度,百度,百度
3,2019-10-03,BABA,169.48,166.65,170.18,165.00,10.39,0.02,阿里巴巴,阿里巴巴,阿里巴巴
4,2019-10-02,BABA,165.77,162.82,166.88,161.90,11.60,0.00,阿里巴巴,阿里巴巴,阿里巴巴

In [16]:
sub_df = stocks[['收盘', '开盘','高','低','交易量']]
sub_df

        收盘      开盘       高       低    交易量
0   104.32  102.35  104.73  101.15   2.24
1   102.62  100.85  103.24   99.50   2.69
2   102.00  102.80  103.26  101.00   1.78
3   169.48  166.65  170.18  165.00  10.39
4   165.77  162.82  166.88  161.90  11.60
5   165.15  168.01  168.23  163.64  14.19
6    16.06   15.71   16.38   15.32  10.08
7    15.72   15.85   15.87   15.12   8.10
8    15.92   16.14   16.22   15.50  11.65
9    28.80   28.11   28.97   27.82   8.77
10   28.06   28.00   28.22   27.53   9.53
11   28.19   28.22   28.57   27.97  10.64

In [18]:
sub_df.applymap(lambda x : int(x))    # applymap is to change condition, here is to change the float to int

     收盘   开盘    高    低  交易量
0   104  102  104  101    2
1   102  100  103   99    2
2   102  102  103  101    1
3   169  166  170  165   10
4   165  162  166  161   11
5   165  168  168  163   14
6    16   15   16   15   10
7    15   15   15   15    8
8    15   16   16   15   11
9    28   28   28   27    8
10   28   28   28   27    9
11   28   28   28   27   10

In [21]:
stocks.loc[:, ['收盘', '开盘','高','低','交易量']] = sub_df.applymap(lambda x : int(x))
stocks.head()

,日期,公司,收盘,开盘,高,低,交易量,涨跌幅,Chinese_company,CompanyChinese,COmpnay_Chinese
0,2019-10-03,BIDU,104,102,104,101,2,0.02,百度,百度,百度
1,2019-10-02,BIDU,102,100,103,99,2,0.01,百度,百度,百度
2,2019-10-01,BIDU,102,102,103,101,1,-0.01,百度,百度,百度
3,2019-10-03,BABA,169,166,170,165,10,0.02,阿里巴巴,阿里巴巴,阿里巴巴
4,2019-10-02,BABA,165,162,166,161,11,0.00,阿里巴巴,阿里巴巴,阿里巴巴